<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="/Stylesheets/style.css" rel="stylesheet" />

</head>
<body>
    <div class="navbaar">
        <a href="/" class="sec1 ti navnames oo"> Turf & Fields </a>

        <div class="dropdown-container oo">
            <button class="dropdown-button productnavbar">
                Products <span class="dropdown-arrow">&#9660;</span>
            </button>
            <div class="dropdown-content">
                <a href="/grasssoln" class="forhovo">Growth Solutions</a>
                <a href="/brandt" class="forhovt">Brandt Fertilizers</a>
                <a href="/allet" class="forhovth">Allett Turfcare Equipments</a>
                <a href="/gkb" class="forhovf">GKB Turfcare Equipments</a>
                <a href="/baroness" class="forhovs">Baroness Turfcare Equipment</a>
            </div>
        </div>

        <div class="services-dropdown-container oo">
            <button class="services-dropdown-button services-navbar">
                Services <span class="services-dropdown-arrow">&#9660;</span>
            </button>
            <div class="services-dropdown-content">
                <a href="/rentalservice" class="sforhovo">Rental Services</a>
                <a href="/sportfielmaintainance" class="sforhovt">Sportfields Maintenance</a>
                <a href="/agronomy" class="sforhovth">Agronomy Consultancy</a>
                <a href="/equipmentmaintainance" class="sforhovfr">Equipment Maintenance</a>
            </div>
        </div>

        <!-- Language option should be here / -->
        <img src="/images/Zenuitelogo.png" class="logoImg ooo" />
        <a href="/mainblog" class="sec5 navnames oo">Our Blogs</a>
        <a href="/contact" class="sec5 navnames oo">Connect us</a>
        <a href="/aboutus" class="sec5 navnames oo">About us</a>
        <form class="sec5 srch oo">
            <input class="srchpng" type="text" name="search" placeholder="Search..">
        </form>
    </div>
    <script src="js/index.js" ></script>
</body>
</html>
